.cursor-pointer {
    cursor: pointer !important;
}
.cursor-not-allowed {
    cursor: not-allowed !important;
}
.activity-table.scroll-table {
    min-width: 3500px !important;
}
.text-red {
    color: red !important;
    font-weight: bold;
}
.list-sec .table-section .table tbody tr td {
    min-width: 205px;
}
.list-sec .table-section .table thead tr th {
    min-width: 205px;
}
.view-image-container {
    display: inline-block;
    margin-left: 15px;
}
.view-image-container img {
    height: 59px;
}
.viem-image-modal .modal-header {
    padding: 25px !important;
}
.viem-image-modal .modal-body {
    padding: 10px !important;
}
.img-modal-desc {
    padding: 10px 0 !important;
    margin-top: 0 !important;
    color: #103bb5;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
