/* 01--- Font Seting ------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;600;700;800;900&display=swap');

// Brand colors
//––––––––––––––––––––––––––––––––––––––––––––––––––
$basic-blue: #103BB5 !default;
$gray-light: #E6EAF2    !default;
$white:       #fff !default;
$gray-dark:  #E6EAF2    !default;

$primary-color: #103BB5;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.4;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $gray-dark;
$base-border: 1px solid $base-border-color;


// Font stack
//––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font: 'Inter', sans-serif, !default;
$font-secondary: 'Poppins', sans-serif;   

// The base body size
//––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font-size: 16px !default;

// Colors
//––––––––––––––––––––––––––––––––––––––––––––––––––

$white: #fff;
$dashboard-gray: #eff2f5;


// Button
//––––––––––––––––––––––––––––––––––––––––––––––––––



